fastapi
numpy
pandas 
prometheus-fastapi-instrumentator
scikit-learn
pydantic
uvicorn
joblib
matplotlib
feast==0.29.0

--extra-index-url https://download.pytorch.org/whl/cu111
pytorch==1.8.0+cu111
--extra-index-url https://download.pytorch.org/whl/cu111
torchvision==0.13.0+cu111
--extra-index-url https://download.pytorch.org/whl/cu111
torchaudio==0.12.0+cu111

torchtext==0.9.0